<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remix/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block head %}
        
    {% endblock %}

</head>
<body>
    
    <header>
        <div class="row max_width">
            <h2>Web<span class="text_color">Events</span></h2>
            
            {% block header_menu %}
                
            {% endblock %}
            
        </div>
    </header>
    
    <div class="app_body max_width column">
        {% block body %}
            
        {% endblock %}
    </div>

</body>
</html>