{% extends 'leyout/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>WebEvents - Dashboard</title>
{% endblock %}

{% block header_menu %}

<a href="{{ url_for('route.logout' ) }}" class="button button2">
    <i class="ri-logout-box-r-line"></i>
    <span>Sair</span>
</a>

{% endblock %}

{% block body %}

<div class="row top_dh">
    <div class="column">
        <strong>Dashboard</strong>
        <span class="text_size">Gerencie seus eventos</span>
    </div>

    <button class="button" commandFor="modal" command="show-modal">
        <i class="ri-add-line"></i>
        <span>Enviar Evento</span>
    </button>
</div>

<div class="display_app">

    <div class="view list_events_content">
        <div class="list_events">
            {% for evento in dados.eventos_names %}
            <a href="{{ url_for('route.dashboard', id=evento.pub_id ) }}" class="event row2">
                <i class="ri-webhook-line"></i>
                <span>{{ evento.nome }}</span>
            </a>
            {% endfor %}

        </div>
    </div>
    <div class="view column">

        <div class="header_event row">
            <div class="url">{{ dados.url_evento }}</div>
            <div class="row2">
                <a href="" class="button button2">
                    <i class="ri-reset-right-line"></i>
                </a>
            </div>
        </div>


        <div class="event_details_list column">
            {% if dados.evento_detalhes %}

                {% for section in ["headers", "body"] %}

                    {% if dados.evento_detalhes.get(section) %}
                        <hr>
                        <strong class="title_detalhes">{{ section }}</strong>

                        <div class="table">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Chave</td>
                                        <td>Valor</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in dados.evento_detalhes[section].items() %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                {% endfor %}

            {% endif %}
        </div>

    </div>

</div>


<dialog id="modal" class="modal" role="dialog" aria-modal="true" aria-label="formLevel">

    <div class="column">
        <div class="row">
            <strong>Enviar Evento</strong>
            <button class="button button2" aria-label="close" commandFor="modal" command="close">
                <i class="ri-close-line"></i>
            </button>
        </div>
        <form action="" method="post" class="column">
            <div class="row2">
                <div class="entry">
                    <input type="url" placeholder="Url de destino" name="nome" class="input">
                </div>
                <div class="entry" style="width: 100px;">
                    <select name="method" id="" class="input">
                        <option value="GET">get</option>
                        <option value="POST">post</option>
                        <option value="PUT">put</option>
                        <option value="DELETE">delete</option>
                    </select>
                </div>
                <button class="button">
                    <span>Enviar</span>
                </button>
            </div>

            <div class="row2">

                <div class="entry column">
                    <strong>Headers</strong>
                    <textarea name="header" id="" class="text_area" placeholder="Header da requisição">{}</textarea>
                </div>
                <div class="entry column">
                    <strong>Body</strong>
                    <textarea name="body" id="" class="text_area" placeholder="Corpo da requisição">{}</textarea>
                </div>
            </div>
            <div class="entry column">
                <strong>Response</strong>
                <textarea name="response" id="" class="text_area" placeholder="Resposta da requisição"></textarea>
            </div>


        </form>
    </div>

</dialog>

<script>
    document.querySelectorAll(".list_events .event").forEach((el) => {
        el.classList.remove("ative")
    })

    document.querySelectorAll(".list_events .event").forEach((el) => {

        if (window.location.pathname == el.getAttribute("href")) el.classList.add("ative")

    })


</script>

{% endblock %}
