{% extends 'leyout/base.html' %}

{% block header_menu %}

<a href="{{ url_for('route.dashboard' ) }}" class="button">
    <span>Dashboard</span>
</a>

{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lp.css') }}">
<title>WebEvents</title>

{% endblock %}

{% block body %}

<div class="app column">


    <section id="home" class="home column max_width">
        <h1>Receba eventos com facilidade. Cresça <p class="text_color">mais rápido!</p>
        </h1>
        <p>Você ainda precisa desenvolver um back-end apenas para receber webhooks e testar integrações? Simplifique esse processo.</p>
        <div class="row2">
            <a href="{{ url_for('route.login' ) }}" class="button">
                <span>Criar conta gratuitamente</span>
                <i class="ri-arrow-right-circle-line"></i>
            </a>
        </div>
    </section>

    <section id="sobre" class="max_width">
        <div class="sobre column">
            <h2>Sobre</h2>
            <p class="text">
                O WebEvents é uma plataforma desenvolvida para facilitar o teste, monitoramento e validação de webhooks. Receba eventos em tempo real, visualize seus dados e acelere o desenvolvimento das integrações da sua aplicação.
            </p>
        </div>
    </section>

    <img src="{{ url_for('static', filename='img/img_dh.png') }}" class="image_banner" alt="">

    <section class="atendenteo column max_width">
        <h2>Desenvolvida para quem cria integrações.</h2>
        <p class="text">
            Uma plataforma criada para eliminar a necessidade de desenvolver soluções temporárias apenas para receber e validar
            <span class="text_color">webhooks e integrações entre sistemas.</span>
        </p>
        <div class="gird_3">

            <div class="card_info">
                <i class="ri-webhook-line"></i>
                <strong>Webhooks em tempo real</strong>
                <p>Receba, visualize e analise cada evento com informações detalhadas para desenvolver e depurar integrações com mais rapidez.</p>
            </div>

            <div class="card_info">
                <i class="ri-hand-coin-line"></i>
                <strong>Testes de APIs (Em breve)</strong>
                <p>Teste endpoints de APIs diretamente pela plataforma, sem a necessidade de instalar ferramentas adicionais.</p>
            </div>
        </div>
    </section>

    <div class="column center max_width text_color">
        <h2 class="text_center">Teste, valide e monitore seus eventos de forma simples e eficiente.</h2>
    </div>

    <footer class="row max_width">
        <h3>Web<span class="text_color">Events</span></h3>
        <p class="text">© 2026 Ricardo Cayoca. Todos os direitos reservados.</p>
    </footer>

</div>

{% endblock %}
