{% extends 'leyout/base.html' %}

{% block header_menu %}

<a href="{{ url_for('route.dashboard' ) }}" class="button">
    <span>Dashboard</span>
</a>

{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lp.css') }}">
<title>WebEvents</title>

{% endblock %}

{% block body %}

<div class="app column">


    <section id="home" class="home column max_width">
        <h1>Receba fácil. Cresça <p class="text_color">Rápido!</p>
        </h1>
        <p>Você ainda vai contruir um back-end do zoro so para receber eventos webhook para testar uma integração?</p>
        <div class="row2">
            <a href="{{ url_for('route.login' ) }}" class="button">
                <span>Criar conta (Grátis)</span>
                <i class="ri-arrow-right-circle-line"></i>
            </a>
        </div>
    </section>

    <section id="sobre" class="max_width">
        <div class="sobre column">
            <h2>Sobre</h2>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eligendi quo distinctio cupiditate doloribus
                ab numquam maiores saepe blanditiis pariatur cumque neque natus, eveniet corrupti, sint voluptatem cum,
                aperiam delectus.
            </p>
        </div>
    </section>

    <img src="{{ url_for('static', filename='img/img_dh.png') }}" class="image_banner" alt="">

    <section class="atendenteo column max_width">
        <h2>Focada em desenvolvedores.</h2>
        <p class="text">
            Playaforma pensada na dor de desenolver uma solução do zoro para fazer 
            <span class="text_color">Integração</span> entre sistemas.
        </p>
        <div class="gird_3">
            
            <div class="card_info">
                <i class="ri-webhook-line"></i>
                <strong>Webhooks em Tempo Real</strong>
                <p>Informações detalhadas a risca para sua integração ser a mais produtiva possivel.</p>
            </div>
            <div class="card_info">
                <i class="ri-hand-coin-line"></i>
                <strong>Teste de APIs (Brevement) </strong>
                <p>Faça teste de suas apis sem precisar instalar aplicações pesada em seu sistema.</p>
            </div>
        </div>
    </section>

    <div class="column center max_width text_color">
        <h2 class="text_center">Receber eventos para teste agora ficou mais simples.</h2>
    </div>

    

    <footer class="row max_width">
        <h3>Iya<span class="text_color">Pay</span></h3>
        <p class="text">2026 @Ricardo Cayoca. Todos os direitos.</p>
    </footer>

</div>

{% endblock %}